#board_title_update_remove{
    display:flex;
    border-top:2px solid var(--border-color);
    padding-top: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}
#board_title{
    font-size: 17px;
    font-weight: bold;
}
#update_remove{
    padding-right:30px;
    display: flex;
}
#update_a{
    background-color: var(--border-color);
    color:white;
    padding:7px 18px 7px 18px;
    font-size: 12px;
    border-radius: 7px;
    margin-right: 10px;
}
#remove_a{
    background-color: var(--border-color);
    color:white;
    padding:7px 18px 7px 18px;
    font-size: 12px;
    border-radius: 7px;
}
#update_a_div:hover{
    scale: 105%;
}
#remove_a_div:hover{
    scale:105%;
}
#board_nickname_time_view_commentcnt{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color-a2);
    padding-bottom: 20px;
}
#nickname_time{
    display: flex;

}
#nickname{
    font-weight:bold;
    font-size: 15px;

}
#reg_date{
    padding-left:20px;
}
#view_commentcnt{
    display: flex;
    font-size: 15px;
    padding-right: 30px;
}
#view_cnt{
    margin-right: 10px;
    border-right:1px solid rgba(1,1,1,0.5);
    padding-right: 10px;
}
#board_content{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom:2px solid var(--border-color);
}
#comment{
    width:1120px;
    height:130px;
    border: 2px solid var(--border-color-a2);
    outline-color: var(--border-color-a8);
}
#comment_send{
    display: flex;
    align-items: center;
    margin-top:30px;
}
#sendBtn{
    width:80px;
    height:130px;
    background-color: var(--border-color);
    color: white;
    border-radius: 5px;

}
#comment_h1{
    font-weight: bold;
    font-size: 13px;
}
#comment_h1 span{
    color:red;
}
#commentContainer{
    border-top:2px solid var(--border-color);
    margin-top: 20px;
}
.comment_li{
    padding:10px;
    border-bottom: 1px solid var(--border-color-a3);
}
.comment_liR{
    padding:10px 10px 10px 30px;
    background-color: var(--boder-color-a1);
    border-bottom: 1px solid var(--border-color-a3);
}
.comment_li_commenter{
    display: flex;
    justify-content: space-between;
    padding:10px 0px 20px 0px;

}
.comment_li_commenter_commenter{
    font-size: 15px;
    font-weight: bold;
}
.comment_li_comment{
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.updateBtn{
    margin-right: 10px;
}
.comment_li_reply{
    display:flex;
    justify-content: space-between;
}
#update_div{
    display: flex;
    align-items: center;
}
.updateInput{
    width:1000px;
    height:80px;
    border:1px solid var(--border-color-a3);
    outline-color: var(--border-color);
}
.saveBtn{
    background-color: var(--border-color);
    padding:10px 5px;
    color:white;
    margin:0px 10px 0px 20px;
    height:80px;
    width:100px;
    border-radius: 5px;
}
.comment_cancel{
    background-color: var(--border-color);
    padding:10px 5px;
    color:white;
    height: 80px;
    width:100px;
    border-radius: 5px;
}
#reply_div{
    display: flex;
    align-items: center;
}
#replyInput{
    width:1000px;
    height:80px;
    border:1px solid var(--border-color-a3);
    outline-color: var(--border-color);
}
#replySendBtn{
    background-color: var(--border-color);
    padding:10px 5px;
    color:white;
    margin:0px 10px 0px 20px;
    height:50px;
    width:70px;
    border-radius: 5px;
}
#reply_cancel_btn{
    background-color: var(--border-color);
    padding:10px 5px;
    color:white;
    height: 50px;
    width:70px;
    border-radius: 5px;
}