#header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px 20px 10px;
    margin-bottom: 20px;
    border-style: solid;
    border-bottom-color: var(--main-color);
    border-bottom-width: 1px;
}
#header_left{
    font-size: 25px;
    margin-top: -14px;
}
#header_right{
    display: flex;
}
#header_right > form{
    vertical-align:middle;
    margin-top: 10px;
    margin-bottom:15px;
}
#header_right > form > input{
    height:20px;
}
#header_right  label{
    font-size: 8px;
}
#rememberId{
    vertical-align: middle;
}
.button{
    border-style: solid;
    border-radius: 7px;
    background-color: var(--main-color);
    color:white;
    padding:7px 18px 7px 18px;
    font-size: 12px;

}
.button:hover {
    transform: scale(1.05);
}
#button_logout:hover{
    scale:105%;
}
#button_mypage:hover{
    scale:105%;
}
#header_right_a{
    align-self: center;
    padding-bottom: 5px;
}
#header_right_login{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#header_right_login > span{
    font-size: 24px;
    margin-right: 20px;
    font-weight: 500;
}

#header_reg{
    display: block;
}
#myPage_div{
    margin-right: 5px;
}
#myPage_div:hover{
    scale:105%;
}
#logout_div:hover{
    scale:105%;
}
