#map_article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#map_article div{
    margin:10px 5px;
}
#map_article div a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color:white;
    width:300px;
    height:60px;
    border-radius: 7px;
    text-align: center;
    text-decoration: none;
}
#map_article div a:hover{
    scale:105%;
}
#map_article div #yenji{
    background-color: cornflowerblue;
}
