#nav{
    padding:15px 5px 15px 15px;
    margin-right:20px;
    border-right: 2px solid var(--main-color);
    margin-top:-20px;
    width:270px;
}
#nav > div >a{
    display: inline-block;
    padding:10px 0px 10px 0px;
    margin:10px 0px 10px 0px;
    color:var(--main-color);
    font-weight: bold;
    font-size: 18px;
}
.nav_div:hover{
    background-color: rgba(1,1,1,0.1);
}
