#register{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-color);
    border-radius: 10px;
    width:30%;
    height:30%;
    margin: auto;
    padding:10px 0px 10px 0px;
}
.label_column{
    width:100px;
}
.form_column{
    display:flex;
    align-items: center;
}
#register .form_column input {
    width:230px;
    height:30px;
    border-radius: 5px;
    border-color: rgba(117,44,58,0.5);
    margin-top:8px;
    margin-bottom: 8px;
}
#checkId{
    margin-bottom: 8px;
}
#checkNickname{
    margin-bottom: 8px;
}
.form_error_column{
    font-size: 13px;
    height:20px;
    text-align: right;
}
#register_form  label {
    font-size: 14px;
    padding: 2px; // 패딩 추가
}
.button_id{
    border-style: solid;
    border-radius: 7px;
    background-color: var(--main-color);
    color:white;
    padding:7px 18px 7px 18px;
    font-size: 12px;
    display: block;
    margin-left: auto;
}
.button_nick{
    border-style: solid;
    border-radius: 7px;
    background-color: var(--main-color);
    color:white;
    padding:7px 18px 7px 18px;
    font-size: 12px;
    display: block;
    margin-left: auto;
}
.button_reg{
    border-style: solid;
    border-radius: 7px;
    background-color: var(--main-color);
    color:white;
    padding:7px 18px 7px 18px;
    font-size: 12px;
    display: block;
    margin-left: auto;
}
.button_id:hover{
    scale:105%;
}
.button_nick:hover{
    scale:105%;
}
.button_reg:hover{
    scale:105%;
}
#register_form > h1{
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight:bold;

}
